.loader {
  border: 1rem solid #dee2e6;
  border-top: 1rem solid #61a5c2;
  background-color: #f8f9fa;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
