.post-container {
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  box-shadow: 0 1px 3px hsla(210, 11%, 15%, 1);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.post-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-title {
  font-size: 1rem;
  font-weight: 800;
  text-align: left;
  margin: 0rem 0rem 0rem 0rem;
  hyphens: auto;
  color: #343a40;
}

.post-text {
  font-weight: 300;
  font-size: 0.75rem;
  text-align: left;
  margin: 0 0 0 0;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-main-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-main-info {
  font-size: 0.75rem;
  font-weight: 400;
  color: #adb5bd;
}

.post-main-info-author {
  color: #ffaa00;
}

.post-main-link {
  font-size: 0.5rem;
  font-weight: 200;
  font-style: italic;
  color: #61a5c2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-main-link-icon {
  color: #a9d6e5;
}

/* --- */

.post-divider {
  border: 0.0625rem solid #dee2e6;
  margin: 0rem 0rem 0rem 0rem;
}

/* --- */

.post-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0rem 0rem 0rem 0rem;
}

.post-bottom-info {
  font-size: 0.75rem;
  font-weight: 300;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.post-bottom-info-icon {
  color: #adb5bd;
}

.post-bottom-info:nth-child(n + 2) {
  border-left: 0.0625rem solid #dee2e6;
}
