.headerContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid #ced4da;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
}

.headerLogo {
  margin: 0 0.25em 0 0.25em;
  font-weight: 900;
  font-size: 3rem;
}

.headerLinkList {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: 1.25em;
}

.headerLink {
  display: inline-block;
  margin: 0 0.5em 0 0.5em;
  /* position: relative; */
}

/* .headerHomeIcon {
  transform: translateY(5px);
} */
