.bottomMessageContainer {
  /* background: rgb(248, 249, 250);
  background: linear-gradient(
    180deg,
    rgba(248, 249, 250, 1) 0%,
    rgba(169, 214, 229, 1) 27%,
    rgba(42, 111, 151, 1) 71%,
    rgba(1, 42, 74, 1) 100%
  ); */
  background: rgb(248, 249, 250);
  background: linear-gradient(
    180deg,
    rgba(248, 249, 250, 1) 0%,
    rgba(169, 214, 229, 1) 25%,
    rgba(70, 143, 175, 1) 50%,
    rgba(1, 73, 124, 1) 75%,
    rgba(1, 42, 74, 1) 100%
  );
}

.bottomMessageText {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 1.5rem 0rem 1.5rem 0rem;
  color: #f8f9fa;
  font-weight: 800;
  font-size: 1.25rem;
}
